services:
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    env_file:
      - .env
    networks:
      - app_network
    # network_mode: "host"

  backend:
    image: hnguyenxzy/pcap-catalog-service:2.0.0
    container_name: backend
    restart: always
    depends_on:
      - redis
    ports:
      - "${BE_BASE_PORT}:${BE_INTERNAL_PORT}"
    volumes:
      - ./pcaps:/app/pcaps
    env_file:
      - .env
    networks:
      - app_network

  frontend:
    image: datrung/pcap-frontend-app:1.0.4
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "${FRONTEND_PORT}:${NGINX_PORT}"
    env_file:
      - .env
    networks:
      - app_network

volumes:
  redis_data:
    # backend_logs:

networks:
  app_network:
    driver: bridge
