<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="search-style.css">
    <link rel="stylesheet" href="toast-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>PCAP Searching</title>
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>PCAPTAIN TOOL</h1>
        <div class="search-box">
            <input id="searchInput" type="text" placeholder="Enter protocol..." required autocomplete="off" />
            <div id="suggestionBox" class="suggestion-box hidden"></div>
            <button id="searchBtn">Search</button>
            <div id="spinnerSearchBtn" class="spinner-search-hidden"></div>
            <button id="scanBtn">Scan</button>
            <div id="spinnerScanBtn" class="spinner-scan-hidden"></div>
            <button id="cancelScanBtn" class="danger-btn" disabled>Cancel</button>

        </div>

        <!-- Status signal -->
        <div class="status-signal"></div>

        <!-- Control setting for sorting and pagination -->
        <div class="controls-container">
            <div class="control-group">
                <label for="sortBy">Sort by:</label>
                <select id="sortBy" class="control-select">
                    <option value="filename">Name</option>
                    <option value="size_bytes">Size</option>
                    <option value="protocol_packet_count">Packet Count</option>
                </select>
                
                <select id="sortOrder" class="control-select">
                    <option value="false">Ascending</option>
                    <option value="true">Descending</option>
                </select>

                <label for="limitSelect">Show:</label>
                <select id="limitSelect" class="control-select">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>

            <!-- <div class="control-group">
                <button id="prevBtn" class="pagination-btn" disabled>&lt; Prev</button>
                <span id="pageInfo">Page 1</span>
                <button id="nextBtn" class="pagination-btn" disabled>Next &gt;</button>
            </div> -->
        </div>

        <div class="table-wrapper">
            <table id="resultTable">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th class="thInfo">Info</th>
                        <th>Path</th>
                        <th>Size</th>
                        <th>Packet</th>
                        
                    </tr>
                </thead>
                <tbody id="resultBody">
                    <!-- Dynamic content -->
                </tbody>
            </table>
        </div>

        <!-- Pagination PCAP search results -->
        <div id="paginationContainer" class="pagination-container">
        </div>

        <div id="scanModal" class="modal hidden">
            <div class="modal-content">
                <h2>Select an option</h2>
                <div class="button-group">
                    <button id="scanAllBtn" class="action-btn">All</button>
                    <!-- <button id="chooseDirBtn" class="action-btn">Choose Directory</button> -->
                    <input type="file" id="directoryPicker" webkitdirectory multiple hidden>
                </div>
                <button id="closeModalBtn" class="close-btn">Close</button>
            </div>
        </div>

        
        <div id="infoModal" class="modal hidden">
            <div class="modal-content info-modal-content">
                <!-- <div class="modal-header">
                    <h2>File Details</h2>
                    <span id="closeInfoModal" class="close-btn">&times;</span>
                </div> -->
                
                <div class="modal-body">
                    <div class="info-row">
                        <strong>Filename:</strong> <span id="infoFilename"></span>
                    </div>
                    <div class="info-row">
                        <strong>Full Path:</strong> <span id="infoPath"></span>
                    </div>
                    
                    <hr class="info-divider">

                    <div class="info-row">
                        <strong>Size:</strong> <span id="infoSize"></span>
                    </div>
                    <div class="info-row">
                        <strong>Packet Count:</strong>  <span id="infoPackets"></span>
                    </div>
                    <div class="info-row">
                        <strong>Last Modified:</strong> <span id="infoModified"></span>
                    </div>
                    <div class="info-row">
                        <strong>Last Scanned:</strong> <span id="infoScanned"></span>
                    </div>

                    <hr class="info-divider">

                    <div class="info-row">
                        <strong>Protocols Found:</strong>
                        <div id="infoProtocols" class="protocol-badges">
                            </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="config.js"></script>
    <script type="module" src="constant.js"></script>
    <script type="module" src="toast-script.js"></script>
    <script type="module" src="search-script.js"></script>
</body>

</html>